@font-face {
    font-family: "Futura";
    src: url("/theme_exaddon/static/src/fonts/1475786/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475786/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475786/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475786/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475786/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    /* font-family: "Futura LT W01 Light Oblique"; */
    font-family: "Futura";
    font-weight: 300;
    font-style: italic;
    src: url("/theme_exaddon/static/src/fonts/1475792/65d2d2f2-a130-47d4-b7db-1d4a0cd63b4b.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475792/65d2d2f2-a130-47d4-b7db-1d4a0cd63b4b.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475792/f6be6d1e-a972-4744-8e7b-5379116f644d.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475792/8444512b-291a-403f-99eb-5ec8a1e3c7e2.woff") format("woff"), 
         url("/theme_exaddon/static/src/fonts/1475792/c151aaa9-4ac5-4588-bb55-4d49e5b4186b.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Book"; */
    font-family: "Futura";
    font-weight: 400;
//     font-style: normal;
    src: url("/theme_exaddon/static/src/fonts/1475798/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475798/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475798/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475798/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475798/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype");
}
@font-face {
  /* font-family: "Futura LT W01 Book Oblique"; */
    font-family: "Futura";
    font-weight: 400;
    font-style: italic;
    src: url("/theme_exaddon/static/src/fonts/1475804/834e05b5-87ff-453f-9d74-a93eb930e1ec.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475804/834e05b5-87ff-453f-9d74-a93eb930e1ec.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475804/159c40d5-d5b5-4d06-b7ba-7762c03ce985.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475804/03937062-17d3-443d-809c-d51e0397aaa3.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475804/19124b27-09ee-4d4c-b213-ec1c114d2945.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Medium"; */
    font-family: "Futura";
    font-weight: 500;
//     font-style: normal;
    src: url("/theme_exaddon/static/src/fonts/1475810/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475810/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475810/e17c7943-8db2-4470-9e2a-74a8d01f6776.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475810/6c72b0cb-89a1-4da9-8574-9244967bd9d6.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475810/dd79c75a-b0c9-4d70-a5a7-bdde1d5449fd.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Medium Oblique"; */
    font-family: "Futura";
    font-weight: 500;
    font-style: italic;
    src: url("/theme_exaddon/static/src/fonts/1475816/9d0eacce-0f74-4687-8e3e-25a2a9d507be.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475816/9d0eacce-0f74-4687-8e3e-25a2a9d507be.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475816/4a6ce888-0fa9-4d97-883d-55dbadc64ac0.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475816/5329204a-825b-4502-b125-f2708d2d30c0.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475816/af888eb2-1bde-4c44-b483-b11db932a8ad.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Bold"; */
    font-family: "Futura";
    font-weight: 700;
//     font-style: normal;
    src: url("/theme_exaddon/static/src/fonts/1475822/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475822/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475822/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475822/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475822/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Bold Oblique"; */
    font-family: "Futura";
    font-weight: 700;
    font-style: italic;
    src: url("/theme_exaddon/static/src/fonts/1475828/dc781dc0-5e81-4b8d-a608-e2bac19a9472.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475828/dc781dc0-5e81-4b8d-a608-e2bac19a9472.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475828/0d6f913b-0b53-4085-8bc2-7b98d4ee9429.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475828/723c2eab-ca44-4b97-95be-f709b1910ed2.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475828/4043d778-6aa8-4da3-88fb-f25e99332d90.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Extra Bold"; */
    font-family: "Futura";
    font-weight: 800;
//     font-style: normal;
    src: url("/theme_exaddon/static/src/fonts/1475834/19530450-4023-4f4b-a843-f691aaa9a120.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475834/19530450-4023-4f4b-a843-f691aaa9a120.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475834/23effe05-f9b3-417b-8186-358fa1a487ba.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475834/4889f3e2-62f3-4272-9187-ec5c7e08b16b.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475834/3268e049-ecc8-4b01-b169-43faa731c62c.ttf") format("truetype");
}
@font-face {
  /* font-family: "Futura LT W01 Extra Bold Obl"; */
    font-family: "Futura";
    font-weight: 800;
    font-style: italic;
    src: url("/theme_exaddon/static/src/fonts/1475840/20cbe9db-2741-465e-bcdf-fc7775b6a18c.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475840/20cbe9db-2741-465e-bcdf-fc7775b6a18c.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475840/e26823d0-8dd8-4bff-88e2-2369f794cbac.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475840/99afbe1e-25ce-4bdd-827a-6b522dd7ec3f.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475840/8893136d-e4c2-4ef2-8b54-e36d40802c93.ttf") format("truetype");
}
@font-face {
    /* font-family: "Futura LT W01 Heavy"; */
    font-family: "Futura";
    font-weight: 600;
//     font-style: normal;
    src: url("/theme_exaddon/static/src/fonts/1475846/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475846/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475846/f3fa9288-dc04-4f75-b949-b06584863c9c.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475846/6b1bbd38-7556-4809-a151-88182a37116e.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475846/1f56887e-52d4-4229-b219-513cbef3ff58.ttf") format("truetype");
}
@font-face {
  /* font-family: "Futura LT W01 Heavy Oblique"; */
    font-family: "Futura";
    font-weight: 600;
    font-style: italic;
    src: url("/theme_exaddon/static/src/fonts/1475852/502d9cc6-4b26-4c13-ad54-72339130d2a3.eot?#iefix");
    src: url("/theme_exaddon/static/src/fonts/1475852/502d9cc6-4b26-4c13-ad54-72339130d2a3.eot?#iefix") format("eot"),
         url("/theme_exaddon/static/src/fonts/1475852/00bc1975-5e32-4877-b2b1-3db7a94f5aaa.woff2") format("woff2"),
         url("/theme_exaddon/static/src/fonts/1475852/c98bf34a-3735-4453-8e0b-4fee87a78bd8.woff") format("woff"),
         url("/theme_exaddon/static/src/fonts/1475852/0a40b703-0f34-4522-a66b-71269415fe7a.ttf") format("truetype");
}