@font-face {
    font-family: 'Futura Lt BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-Light.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LtCn BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-LightCondensed.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura MdCn BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('/futura_font/static/src/font/futura/Futura-Bold.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-HeavyItalic.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-Heavy.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-BookItalic.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-Book.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlkCnIt BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-ExtraBlackCondItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('/futura_font/static/src/font/futura/Futura-Black-Bold.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/Futura-Black-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura BdCn BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('/futura_font/static/src/font/futura/Futura-CondensedLight.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/Futura-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('/futura_font/static/src/font/futura/Futura-Bold.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-LightItalic.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-Medium.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('/futura_font/static/src/font/futura/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

 @font-face {
    font-family: 'Futura LT Pro Book';
    src: url('/futura_font/static/src/font/futura/FuturaLTPro-Bold.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'FuturaLTW01-LightOblique';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-LightOblique.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01-MediumOblique';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-MediumOblique.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01-BoldOblique';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-BoldOblique.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-BoldOblique.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-Medium.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-Bold.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01-HeavyOblique';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-HeavyOblique.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-HeavyOblique.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01-Book';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-Book.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-ExtraBold.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01-ExtraBoldObl';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-ExtraBoldObl.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-ExtraBoldObl.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01-BookOblique';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-BookOblique.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-BookOblique.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-Light.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLTW01';
    src: url('/futura_font/static/src/font/futura/FuturaLTW01-Heavy.woff2') format('woff2'),
        url('/futura_font/static/src/font/futura/FuturaLTW01-Heavy.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
